---
---

@import "{{ site.theme }}";

.title {
  font-size: 48px;
}

.toc-block {
  ul {
    margin: 0;
  }
  margin-bottom: 20px;
}

.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
  width: 270px;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

@media print, screen and (max-width: 960px) {
  .sidebar {
    float: none;
    position: static;
    width: auto;
  }
}
