---
---

@import "{{ site.theme }}";

a:hover {
  font-weight: normal;
  text-decoration: underline;
}

strong a:hover, b a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.title {
  font-size: 50px;
  background: #ffffff;
  z-index: 1;
  position: relative;
}

.toc-block {
  ul {
    margin: 0;
  }
  margin-bottom: 1rem;
}

.sidebar {
  width: 270px;
  float: left;
  position: -webkit-sticky;
  position: sticky;
  top: 12rem;
  background: #ffffff;
  z-index: 1;
}

.small-title {
  font-weight: 800;
  position: fixed;
  top: 4rem;
  font-size: 22px;
  width: 270px;
}

@media print, screen and (max-width: 960px) {
  .title{
    font-size: 40px;
  }

  .sidebar {
    float: none;
    position: static;
    width: auto;
  }

  .small-title {
    display: none;
  }
}

// This is a clearfix for the wrapper which means it always takes the full height
// of the child elements floating inside it. When it takes the height of it's
// children properly, then the sidebar can position:sticky properly as well.
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}
